body {
  align-items: center;
  justify-items: center;
}

h1 {
  color: black;
  display: inline-block;
  vertical-align: middle;
  height: 350px;
  width: 100%;
  margin: 0;
  text-align: right;
}

p {
  margin-left: 70px;
}

footer {
  position: absolute;
  left:0;
  bottom:0;
  right:0;
}
