body {
  align-items: center;
  justify-items: center;
}

h1 {
  color: white;
  display: inline-block;
  vertical-align: middle;
  height: 450px;
  width: 100%;
  margin: 0;
}

p {
  margin-left: 70px;
}
